html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f9f9f9;
}

.form-signin-register {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin-register .checkbox {
    margin-top: 10px;
    font-weight: 400;
}

.form-signin-register .form-floating:focus-within {
    z-index: 2;
}

.form-signin-register input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin-register input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

form input {
    box-shadow: none !important;
}

.btn-signin-register {
    color: white;
    background-color: #007bff;
    outline: none !important;
    transition: transform 0.2s ease;
    box-shadow: none !important;
}

.btn-signin-register:hover {
    color: white;
    background-color: #0056b3;
    outline: none !important;
}

.btn-signin-register:active {
    transform: scale(0.95);
    background-color: #004494;
}
