{% extends "base.html" %}

{% block css %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css"/>
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock %}

{% block content %}
    <div class="content-holder d-flex flex-wrap gap-3">
        <div class="tile form-container" id="addHighlightEffect">
            <form method="post" action="{% url 'habbit' %}">
                {% csrf_token %}
                <input type="hidden" name="form_id" value="mood-scale-form">
                <h3 class="form-title">Jak minął dzień?</h3>
                <div class="range-container">
                    <input class="slider" type="range" class="form-range" min="0" max="10" step="1" id="moodRange"
                           value="{{ mood_scale_form.instance.scale }}" name="scale">
                    <div class="range-value" id="moodRangeValue">{{ mood_scale_form.instance.scale }}</div>
                </div>
            </form>
        </div>
        <div class="tile form-container" id="addHighlightEffect">
            <form method="post" action="{% url 'habbit' %}">
                {% csrf_token %}
                <input type="hidden" name="form_id" value="sleep-form">
                <h3 class="form-title">Ile godzin spałeś/aś?</h3>
                <div class="range-container">
                    <input class="slider" type="range" class="form-range slider" min="0" max="24" step="0.5"
                           id="sleepRange" value="{{ sleep_form.instance.slept_scale }}" name="slept_scale">
                    <div class="range-value" id="sleepRangeValue">{{ sleep_form.instance.slept_scale }}</div>
                </div>
            </form>
        </div>
        <div class="tile form-container">
            <form method="post" action="{% url 'habbit' %}">
                {% csrf_token %}
                <input type="hidden" name="form_id" value="mood-emotions-form">
                <h3 class="form-title">Jakie emocje odczuwałeś/aś?</h3>
                <select class="form-select" id="multiple-select-optgroup-field-2"
                        data-placeholder="Wybierz emocje" name="emotions" multiple>
                    {% for emotion in mood_emotion_form.fields.emotions.choices %}
                        <option value="{{ emotion.0 }}" {% if emotion.0 in mood_emotion_form.instance.emotions %}selected{% endif %}>{{ emotion.1 }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
        <div class="tile form-container">
            <form method="post" action="{% url 'habbit' %}">
                {% csrf_token %}
                <input type="hidden" name="form_id" value="mood-note-form">
                <h3 class="form-title">Chcesz dodać coś więcej?</h3>
                <textarea name="note" class="note-input form-control"
                          placeholder="Dodaj kilka szczegółów o dzisiejszym dniu...">{{ mood_note_form.instance.note }}</textarea>
{#                <button class="save-button" type="submit" class="btn btn-primary">Zapisz</button>#}
            </form>
        </div>
    </div>
    <div class="block-2">
        <div class="content-holder d-flex flex-wrap gap-3">
            <div class="tile form-container" id="addHighlightEffect">
                <form method="post" action="{% url 'habbit' %}" class="coffee-style-form">
                    {% csrf_token %}
                    <input type="hidden" name="form_id" value="coffee-form">
                    <div class="coffee-style-container">
                        <div class="coffee-style-row">
                            <div class="coffee-style-group">
                                <h3 class="form-title">Ile kaw wypiłeś/aś?</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="number" class="coffee-style-control" id="valueInput"
                                                   name="coffee_amount" placeholder="Podaj wartość" min="0" value="{{ coffee_form.instance.coffee_amount }}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <select class="coffee-style-select" id="unitSelect" name="coffee_unit">
                                                <option value="ml" {% if coffee_form.instance.coffee_unit == "ml" %}selected{% endif %}>ml</option>
                                                <option value="l" {% if coffee_form.instance.coffee_unit == "l" %}selected{% endif %}>l</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tile form-container" id="addHighlightEffect">
                <form method="post" action="{% url 'habbit' %}" class="coffee-style-form" id="cigarettes-form">
                    {% csrf_token %}
                    <input type="hidden" name="form_id" value="cigarette-form">
                    <div class="coffee-style-container">
                        <div class="coffee-style-row">
                            <div class="coffee-style-group">
                                <h3 class="form-title">Ile papierosów wypaliłeś/aś?</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="number" class="coffee-style-control" id="valueInput"
                                                   name="cigarettes" placeholder="Podaj wartość" min="0" value="{{ cigarette_form.instance.cigarettes }}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <select class="coffee-style-select" id="unitSelect" name="cigarette_type">
                                                {% for type in cigarette_form.fields.cigarette_type.choices %}
                                                    <option value="{{ type.0 }}" {% if type.0 == cigarette_form.instance.cigarette_type %}selected{% endif %}>{{ type.1 }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tile form-container">
                <form method="post" action="{% url 'habbit' %}" class="coffee-style-form" id="alcohol-form">
                    {% csrf_token %}
                    <input type="hidden" name="form_id" value="alcohol-form">
                    <div class="coffee-style-container">
                        <div class="coffee-style-row">
                            <div class="coffee-style-group">
                                <h3 class="form-title">Czy piłeś/aś alkohol?</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="number" class="coffee-style-control" id="valueInput"
                                                   name="alcohol_amount" min="0" value="{{ alcohol_form.instance.alcohol_amount }}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <select class="coffee-style-select" id="unitSelect" name="alcohol_unit">
                                                <option value="ml" {% if alcohol_form.instance.alcohol_unit == "ml" %}selected{% endif %}>ml</option>
                                                <option value="l" {% if alcohol_form.instance.alcohol_unit == "l" %}selected{% endif %}>l</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="choose-gap">
                                        <select class="form-select" id="multiple-select-optgroup-field-3" name="alcohol_type" multiple>
                                            {% for alcohol in alcohol_form.fields.alcohol_type.choices %}
                                                <option value="{{ alcohol.0 }}" {% if alcohol.0 in alcohol_form.instance.alcohol_type %}selected{% endif %}>{{ alcohol.1 }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tile form-container">
                <form method="post" action="{% url 'habbit' %}" class="coffee-style-form" id="sports-form">
                    {% csrf_token %}
                    <input type="hidden" name="form_id" value="sports-form">
                    <div class="coffee-style-container">
                        <div class="coffee-style-row">
                            <div class="coffee-style-group">
                                <h3 class="form-title">Czy byłeś/byłaś aktywny/a i ćwiczyłeś/aś?</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="number" class="coffee-style-control" id="valueInput"
                                                   name="exercise_times" min="0" value="{{ sports_form.instance.exercise_times }}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <select class="coffee-style-select" id="unitSelect" name="exercise_unit">
                                                <option value="minutes" {% if sports_form.instance.exercise_unit == "minutes" %}selected{% endif %}>minuty</option>
                                                <option value="hours" {% if sports_form.instance.exercise_unit == "hours" %}selected{% endif %}>godziny</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="choose-gap">
                                        <select class="choose-gap" class="form-select"
                                                id="multiple-select-optgroup-field-4"
                                                name="exercise_type" multiple>
                                            {% for exercise in sports_form.fields.exercise_type.choices %}
                                                <option value="{{ exercise.0 }}" {% if exercise.0 in sports_form.instance.exercise_type %}selected{% endif %}>{{ exercise.1 }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.full.min.js"></script>
    <script src="{% static 'js/homepage.js' %}"></script>
    <script type="text/javascript">
        window.addEventListener('load', () => {
            initializeFormAutoSubmit();
            addHighlightEffect();
            initializeSlider('moodRange', 'moodRangeValue', 'coffeeRange');
            initializeSlider('sleepRange', 'sleepRangeValue', 'coffeeRangeValue');
            $('#multiple-select-optgroup-field-2').select2({
                theme: "bootstrap-5",
                width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
                placeholder: $(this).data('placeholder'),
                closeOnSelect: false,
            });
            $('#multiple-select-optgroup-field-3').select2({
                theme: "bootstrap-5",
                width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
                placeholder: $(this).data('placeholder'),
                closeOnSelect: false,
            });
            $('#multiple-select-optgroup-field-4').select2({
                theme: "bootstrap-5",
                width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
                placeholder: $(this).data('placeholder'),
                closeOnSelect: false,
            });
        })
    </script>
{% endblock %}
